header.top-header{
  height: 400px;
  width: 100%;  
  position: relative;
  top: 120px;
  text-align: center;
  background-color: #d98900;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); 
}

